.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/.DS_Store
**/.git/**
**/.github/**
**.vscodeignore
images/README.md